@import './Variables.scss';

.aboutContainer {
    display: flex;
    justify-content: center;
    gap: 50px;

    p {
        max-width: 500px;
        padding: 0;
        margin: 0 0 10px;
    }

    .imageContainer {
        height: 300px;
        width: 450px;
        background: $gold;
    }
}

@media only screen and (max-width: 900px) {
    .aboutContainer {
        flex-direction: column-reverse;
        padding: 0 15px;
        gap: 10px;

        .imageContainer {
            width: 100%;
        }
    }
}