html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  height: 100%;
  background: #172638;
  font-family: 'Mukta', sans-serif;
  color: #C5D4E8;
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  overflow: hidden;
}

#root {
  height: 100%;
}